



<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <!-- for-mobile-apps -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Resort Inn Responsive , Smartphone Compatible web template , Samsung, LG, Sony Ericsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
            function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- //for-mobile-apps -->
        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/chocolat.css') }}" type="text/css" media="screen">
        <link href="{{ url_for('static', filename='css/easy-responsive-tabs.css') }}" rel='stylesheet' type='text/css'/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/flexslider.css') }}" type="text/css" media="screen" property="" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}" />
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
        <script type="text/javascript" src="{{url_for('static', filename ='js/modernizr-2.6.2.min.js')}}"></script>
        <!--fonts-->
        <link href="//fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Federo" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
        <!--//fonts-->
    </head>
    <body>
      
            <div class="clearfix"></div>
        </div>
        <div class="w3_navigation">
            <div class="container">
                <nav class="navbar navbar-default">
                    <div class="navbar-header navbar-left">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1><a class="navbar-brand" href="index.php">The <span>Kitchen</span><p class="logo_w3l_agile_caption">Specialized in Indian Cuisine</p></a></h1>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                        <nav class="menu menu--iris">
                            <ul class="nav navbar-nav menu__list">
                                <li class="menu__item menu__item--current"><a href="index.html" class="menu__link">Home</a></li>
                                <li class="menu__item"><a href="#about" class="menu__link scroll">About</a></li>
                                <li class="menu__item"><a href="#rooms" class="menu__link scroll">Dinings</a></li>
                                <li class="menu__item"><a href="#contact" class="menu__link scroll">Contact Us</a></li>
                                <li class="menu__item"><a href="{{ url_for('logout') }}" >Logout</a></li>
                            </ul>
                        </nav>
                    </div>
                </nav>

            </div>
        </div>
        <!-- //header -->
        <!-- banner -->
        <div id="home" class="w3ls-banner">
            <!-- banner-text -->
            <div class="slider">
                <div class="callbacks_container">
                    <ul class="rslides callbacks callbacks1" id="slider4">
                        <li>
                            <div class="w3layouts-banner-top">

                                <div class="container">
                                    <div class="agileits-banner-info">
                                        <h4>The Kitchen</h4>
                                        <h3>Food to fit your lifestyle and health</h3>
                                        <p>We serve exotic flavours</p>
                                        <div class="agileits_w3layouts_more menu__item">
                                            <a href="#" class="menu__link" data-toggle="modal" data-target="#myModal">Learn More</a>
                                        </div>
                                    </div>	
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="w3layouts-banner-top w3layouts-banner-top1">
                                <div class="container">
                                    <div class="agileits-banner-info">
                                        <h4>The Kitchen</h4>
                                        <h3>Special sittings for friends & families</h3>
                                        <p>Come & enjoy precious moments with us</p>
                                        <div class="agileits_w3layouts_more menu__item">
                                            <a href="#" class="menu__link" data-toggle="modal" data-target="#myModal">Learn More</a>
                                        </div>
                                    </div>	
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
                <!--banner Slider starts Here-->
            </div>
            <div class="thim-click-to-bottom">
                <a href="#about" class="scroll">
                    <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                </a>
            </div>
        </div>	
        <!-- //banner --> 
        <!--//Header-->
        <!-- //Modal1 -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
            <!-- Modal1 -->
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4>The <span>Kitchen</span></h4>
                        <img src="{{url_for('static', filename ='images/1.jpg')}}" alt=" " class="img-responsive">
                        <h5>We serve the best to our customers</h5>
                        <p>From the vast experience of the food estates to trendy urban outlets, a dedicated team strives collectively to put a smile on the face of every customer.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- //Modal1 -->
        <div id="availability-agileits">
            <div class="col-md-12 book-form-left-w3layouts">
                <a href="{{ url_for('reserve') }}"><h2>Table Reservation</h2></a>
            </div>

            <div class="clearfix"> </div>
        </div>
        <!-- /about -->
        <div class="about-wthree" id="about">
            <div class="container">
                <div class="ab-w3l-spa">
                    <h3 class="title-w3-agileits title-black-wthree">The Kitchen so far</h3> 
                    <p class="about-para-w3ls">Our culture is to provide individuals with continua growth and prosperity, while encouraging entrepreneurship and creativity.<br>
                    We are always looking for self - motivated, dynamic thinkers who would partner with us in our<br> ambitious endeavours.</p>
                    <img src="{{url_for('static', filename ='images/about.jpg')}}" class="img-responsive" alt="About">
                    <div class="w3l-slider-img">
                        <img src="{{url_for('static', filename ='images/a1.jpg')}}" class="img-responsive" alt="Restaurant-sitting">
                    </div>
                    <div class="w3ls-info-about">
                        <h4>You'll love all the amenities we offer!</h4>
                        <p>Luxurious Dinings with best food with all type flavors.</p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- //about -->
        <!--sevices-->
        <div class="advantages">
            <div class="container">
                <div class="advantages-main">
                    <h3 class="title-w3-agileits">Our Services</h3>
                    <div class="advantage-bottom">
                        <div class="col-md-6 advantage-grid left-w3ls wow bounceInLeft" data-wow-delay="0.3s">
                            <div class="advantage-block ">
                                <i class="fa fa-credit-card" aria-hidden="true"></i>
                                <h4>Enjoy First, Pay After! </h4>
                                <p>We offer a variety of food and services that our customer expects from us.</p>
                                <p><i class="fa fa-check" aria-hidden="true"></i>Fully air conditioned</p>
                                <p><i class="fa fa-check" aria-hidden="true"></i>Accompanied with all types of music</p>
                                <p><i class="fa fa-check" aria-hidden="true"></i>High speed wifi</p>
                            </div>
                        </div>
                        <div class="col-md-6 advantage-grid right-w3ls wow zoomIn" data-wow-delay="0.3s">
                            <div class="advantage-block">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                <h4>24 Hour Restaurant</h4>
                                <p>From the vast experience of the food estates to trendy urban outlets, a dedicated team strives collectively to put a smile on the face of every customer</p>
                                <p><i class="fa fa-check" aria-hidden="true"></i>24 hours of service</p>
                                <p><i class="fa fa-check" aria-hidden="true"></i>Delicious starters and exotic beverages.</p>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
        <!--//sevices-->
        <!-- products and rates -->
        <div class="plans-section" id="rooms">
            <div class="container">
                <h3 class="title-w3-agileits title-black-wthree">Products And Rates</h3>
                <div class="priceing-table-main">
                    <div class="col-md-3 price-grid">
                        <div class="price-block agile">
                            <div class="price-gd-top">
                                <img src="{{url_for('static', filename ='images/r1.jpg')}}" alt=" " class="img-responsive" />
                                <h4>Snacks and Starters</h4>
                            </div>
                            <div class="price-gd-bottom">
                                <div class="price-list">
                                    <ul>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>

                                    </ul>
                                </div>
                                <div class="price-selet">	
                                    <h3><span>₹</span>98-210</h3>						
                                    <a href="#" >Order now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 price-grid ">
                        <div class="price-block agile">
                            <div class="price-gd-top">
                                <img src="{{url_for('static', filename ='images/r2.jpg')}}" alt=" " class="img-responsive" />
                                <h4>Main course</h4>
                            </div>
                            <div class="price-gd-bottom">
                                <div class="price-list">
                                    <ul>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                                <div class="price-selet">
                                    <h3><span>₹</span>180 per person</h3>
                                    <a href="#" >Order now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 price-grid lost">
                        <div class="price-block agile">
                            <div class="price-gd-top">
                                <img src="{{url_for('static', filename ='images/r3.jpg')}}" alt=" " class="img-responsive" />
                                <h4>Beverages</h4>
                            </div>
                            <div class="price-gd-bottom">
                                <div class="price-list">
                                    <ul>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                                <div class="price-selet">
                                    <h3><span>₹</span>110-550</h3>
                                    <a href="#" >Order now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 price-grid wthree lost">
                        <div class="price-block agile">
                            <div class="price-gd-top ">
                                <img src="{{url_for('static', filename ='images/r4.jpg')}}" alt=" " class="img-responsive" />
                                <h4>Deserts</h4>
                            </div>
                            <div class="price-gd-bottom">
                                <div class="price-list">
                                    <ul>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                                <div class="price-selet">
                                    <h3><span>₹</span>120-410</h3>
                                    <a href="#" >Order now</a>
                                </div>
                            </div>
                        </div>
                        <div class="price-selet">
                            <br><a href="#" >View more</a>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <!--// Products and rates -->
        <!-- contact -->
        <section class="contact-w3ls" id="contact">
            <div class="container">
                <div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile2" data-aos="flip-left">
                    <div class="contact-agileits">
                        <h4>Contact Us</h4>
                        <p class="contact-agile2">Sign Up For Our News Letters</p>
                        <form  method="post" name="sentMessage" id="contactForm" >
                            <div class="control-group form-group">

                                <label class="contact-p1">Full Name:</label>
                                <input type="text" class="form-control" name="name" id="name" required >
                                <p class="help-block"></p>

                            </div>	
                            <div class="control-group form-group">

                                <label class="contact-p1">Phone Number:</label>
                                <input type="tel" class="form-control" name="phone" id="phone" required >
                                <p class="help-block"></p>

                            </div>
                            <div class="control-group form-group">

                                <label class="contact-p1">Email Address:</label>
                                <input type="email" class="form-control" name="mail" id="email" required >
                                <p class="help-block"></p>

                            </div>


                            <input type="submit" name="sub" value="Send Now" class="btn btn-primary">	
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile1" data-aos="flip-right">
                    <h4>Connect With Us</h4>
                    <p class="contact-agile1"><strong>Phone :</strong>+011 22425481</p>
                    <p class="contact-agile1"><strong>Email :</strong> <a href="ws2basic@gmail.com">ws2basic@gmail.com</a></p>
                    <p class="contact-agile1"><strong>Address :</strong>H-Pocket Market, Sarita Vihar, Delhi 110076</p>

                    <div class="social-bnr-agileits footer-icons-agileinfo">
                        <ul class="social-icons3">
                            <li><a href="#" class="fa fa-facebook icon-border facebook"> </a></li>
                            <li><a href="#" class="fa fa-twitter icon-border twitter"> </a></li>
                            <li><a href="#" class="fa fa-google-plus icon-border googleplus"> </a></li> 

                        </ul>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d876.2876145131736!2d77.2914978291522!3d28.535196998903544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce6abd70a374f%3A0x2360a0acc57ce9ac!2sThe+Kitchen+Exotica!5e0!3m2!1sen!2sin!4v1524562185646" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="clearfix"></div>
            </div>
        </section>
        <!-- /contact -->
        <div class="copy">
            <p>© 2018 The Kitchen . All Rights Reserved | Design by <a href="index.php">ws2basic@gmail.com</a> </p>
        </div>
        <!--/footer -->
        <!-- js -->
        <script type="text/javascript" src="{{url_for('static', filename = 'js/jquery-2.1.4.min.js' )}}"></script>
        <!-- contact form -->
        <script src=" {{url_for('static', filename = 'js/jqBootstrapValidation.js' )}}"></script>

        <!-- /contact form -->	
        <!-- Calendar -->
        <script src="{{url_for('static', filename = 'js/jquery-ui.js')}}"></script>
        <script>
            $(function () {
                $("#datepicker,#datepicker1,#datepicker2,#datepicker3").datepicker();
            });
        </script>
        <!-- //Calendar -->
        <!-- gallery popup -->
        <link rel="stylesheet" href="{{url_for('static', filename ='css/swipebox.css')}}">
        <script src="{{url_for('static', filename ='js/jquery.swipebox.min.js')}}"></script> 
        <script type="text/javascript">
jQuery(function ($) {
$(".swipebox").swipebox();
});
        </script>
        <!-- //gallery popup -->
        <!-- start-smoth-scrolling -->
        <script type="text/javascript" src="{{url_for('static', filename ='js/move-top.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename ='js/easing.js')}}"></script>
        <script type="text/javascript">
                            jQuery(document).ready(function ($) {
                                $(".scroll").click(function (event) {
                                    event.preventDefault();
                                    $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
                                });
                            });
        </script>
        <!-- start-smoth-scrolling -->
        <!-- flexSlider -->
        <script defer src="{{url_for('static', filename ='js/jquery.flexslider.js')}}"></script>
        <script type="text/javascript">
$(window).load(function () {
$('.flexslider').flexslider({
    animation: "slide",
    start: function (slider) {
        $('body').removeClass('loading');
    }
});
});
        </script>
        <!-- //flexSlider -->
        <script src="{{url_for('static', filename ='js/responsiveslides.min.js')}}"></script>
        <script>
    // You can also use "$(window).load(function() {"
    $(function () {
        // Slideshow 4
        $("#slider4").responsiveSlides({
            auto: true,
            pager: true,
            nav: false,
            speed: 500,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });

    });
        </script>
        <!--search-bar-->
        <script src="{{url_for('static', filename ='js/main.js')}}"></script>	
        <!--//search-bar-->
        <!--tabs-->
        <script src="{{url_for('static', filename ='js/easy-responsive-tabs.js')}}"></script>
        <script>
                            $(document).ready(function () {
                                $('#horizontalTab').easyResponsiveTabs({
                                    type: 'default', //Types: default, vertical, accordion           
                                    width: 'auto', //auto or any width like 600px
                                    fit: true, // 100% fit in a container
                                    closed: 'accordion', // Start closed if in accordion view
                                    activate: function (event) { // Callback function if tab is switched
                                        var $tab = $(this);
                                        var $info = $('#tabInfo');
                                        var $name = $('span', $info);
                                        $name.text($tab.text());
                                        $info.show();
                                    }
                                });
                                $('#verticalTab').easyResponsiveTabs({
                                    type: 'vertical',
                                    width: 'auto',
                                    fit: true
                                });
                            });
        </script>
        <!--//tabs-->
        <!-- smooth scrolling -->
        <script type="text/javascript">
            $(document).ready(function () {
                /*
                 var defaults = {
                 containerID: 'toTop', // fading element id
                 containerHoverID: 'toTopHover', // fading element hover id
                 scrollSpeed: 1200,
                 easingType: 'linear' 
                 };
                 */
                $().UItoTop({easingType: 'easeOutQuart'});
            });
        </script>
        <div class="arr-w3ls">
            <a href="#home" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
        </div>
        <!-- //smooth scrolling -->
        <script type="text/javascript" src="{{url_for('static', filename ='js/bootstrap-3.1.1.min.js')}}"></script>
    </body>
</html>












